body{
	background-color:  #269926;
}
p{
    color: rgb(233, 233, 197);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
	color: white;
	text-align: center;
}
dt, dd{
	color: yellow;
}
dt{
	font-weight: bold;
	font-size: 30px;
}
dd{
	font-size: 25px;
}
.r{
	font-size: 25px;
	color: yellow;
}
a{
	color: yellow;
}
img{
	display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}
td>dl>dd{
    color: black;
}
.d{
	width: 70px;
	height: 20px;
	background-color: darkgrey;
	color: white;
	float: right;
	margin: 20px;
	padding: 2px;
	text-align: center;
}
.wrap{
	width: 1100px;
	height: 1000px;
	margin: auto;
}
.card{
    border-radius: 10px;
    border: 2px rgb(92, 75, 75) solid;
    padding: 5px;
    box-sizing: border-box;
    margin: 50px;
    overflow: auto;
    width: 450px;
    float: left;
    height: 500px;
}
h2{
    color: white;
    text-align: center;
}
table{
	margin: auto;
	border: 1px solid black;
	width: 25%;
	color:white;
	background-color: #992667;
}
caption{
	font-weight: bold;
	font-size: 25px;
}
td{
	border: 1px solid darkgrey;	
}
tr:nth-child(odd){
	background-color: #BF7130;
}
tr:hover{
	background-color: grey;
}
td:hover{
	background-color: #1D7373;
	font-weight: bold;
}
